/* latin */
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/yantramanav/v6/flUhRqu5zY00QEpyWJYWN59IePNeKBM.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: sans-serif;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.container .next, .container .prev {
  position: absolute;
  width: 200px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 13px;
  color: #ffffff;
  z-index: 10;
  cursor: pointer;
}

.container .next .line, .container .prev .line {
  position: absolute;
  top: 50%;
  width: 140px;
  height: 1px;
  background: #ffffff;
}

.container .next {
  right: -60px;
}

.container .next .line {
  right: 0;
}

.container .next:hover {
  right: -40px;
}

.container .next:hover .line {
  right: 10px;
}

.container .prev {
  left: -60px;
  text-align: right;
}

.container .prev .line {
  left: 0;
}

.container .prev:hover {
  left: -40px;
}

.container .prev:hover .line {
  left: 10px;
}

.container .slider-box, .container .slider-box .slider-img {
  width: 100%;
  height: 100vh;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.container .slider-box .slider-img {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.container .slider-box .slider-img img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0.8) contrast(1.1);
          filter: brightness(0.8) contrast(1.1);
  -webkit-transition: 2s ease;
  transition: 2s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.container .slider-box .slider-img .img-title {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 50%;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  z-index: 20;
}

.container .slider-box .slider-img .img-title h1 {
  font-size: 80px;
  font-weight: 900;
  line-height: 80px;
  color: #ffffff;
}

.container .slider-box .slider-img-1 img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: 1s ease forwards;
          animation: 1s ease forwards;
}

.container .slider-box .slider-img-1 .img-title {
  opacity: 1;
}

.container .slider-box .slider-img-1 .img-title span {
  color: #db9f46;
}

.container .slider-box .slider-img-2 {
  position: absolute;
  top: 0;
  left: 100%;
}

.container .slider-box .slider-img-2 img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-animation: 1s ease forwards;
          animation: 1s ease forwards;
}

.container .slider-box .slider-img-2 .img-title {
  opacity: 0;
}

.container .slider-box .slider-img-2 .img-title span {
  color: #a752a1;
}

.container .slider-box .progress-bar-box {
  position: absolute;
  bottom: 50px;
  right: 60px;
  z-index: 20;
}

.container .slider-box .progress-bar-box .text-top, .container .slider-box .progress-bar-box .text-bottom {
  margin: 5px;
  font-size: 16px;
  font-weight: lighter;
  color: #ffffff;
}

.container .slider-box .progress-bar-box .progress-bar {
  position: relative;
  width: 200px;
  height: 1px;
  background: #ffffff5d;
  border-radius: 5px;
  overflow: hidden;
}

.container .slider-box .progress-bar-box .progress-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 1px;
  background: #ffffff;
  z-index: 5;
}

@-webkit-keyframes img-left-start {
  0% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

@keyframes img-left-start {
  0% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes img-right-start {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}

@keyframes img-right-start {
  0% {
    left: 50%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes img-left-end {
  0% {
    left: 0;
    -webkit-filter: brightness(0.8) contrast(1.1);
            filter: brightness(0.8) contrast(1.1);
  }
  100% {
    left: -50%;
    -webkit-filter: brightness(0.1) contrast(1.1);
            filter: brightness(0.1) contrast(1.1);
  }
}

@keyframes img-left-end {
  0% {
    left: 0;
    -webkit-filter: brightness(0.8) contrast(1.1);
            filter: brightness(0.8) contrast(1.1);
  }
  100% {
    left: -50%;
    -webkit-filter: brightness(0.1) contrast(1.1);
            filter: brightness(0.1) contrast(1.1);
  }
}

@-webkit-keyframes img-right-end {
  0% {
    left: 0;
    -webkit-filter: brightness(0.8) contrast(1.1);
            filter: brightness(0.8) contrast(1.1);
  }
  100% {
    left: 50%;
    -webkit-filter: brightness(0.1) contrast(1.1);
            filter: brightness(0.1) contrast(1.1);
  }
}

@keyframes img-right-end {
  0% {
    left: 0;
    -webkit-filter: brightness(0.8) contrast(1.1);
            filter: brightness(0.8) contrast(1.1);
  }
  100% {
    left: 50%;
    -webkit-filter: brightness(0.1) contrast(1.1);
            filter: brightness(0.1) contrast(1.1);
  }
}
